DATABASE_URL=wo-wali-value-jo-.env.local-mein-DATABASE_URL-ke-aage-hai
DIRECT_URL=wo-wali-value-jo-DATABASE_URL_UNPOOLED-ke-aage-hai
AUTH_SECRET=koi-bhi-40-random-characters
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123321
USDT_DISPLAY_RATE=1
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_STORE_NAME=ValueCart